body {
    background-color: #c0c1c3;
    margin: 2%;
}
h1{color: white;
    background-color:#e3e3e2 ; 
padding: 2%;}
p{padding: 5px;
margin: 0%;}
.top1{color: white;
background-color: #2d85c6;}
.top2{color: white;
background-color: #2892d0;}
.top3{color:white ;
background-color: #1d9dd8;}
.top4{color: white;
background-color: #35a8df;}
.top5{color:white;
    background-color: #57b5e6 ;}
.top6{color:white;
    background-color: #73c1ec;}
.top7{color:white;
    background-color:  #8dcaee;}
.top8{color:white;
    background-color: #1ab586;}
.top9{color:white;
    background-color: #f5b1d0 ;}
.top10{color:white ;
    background-color: #f49cc1;}
.top11{color: white;
    background-color: #f38bb4;}
.top12{color:white ;
    background-color: #f279a5;}
.top13{color:white;
    background-color: #f16996;}
.top14{color: white;
    background-color: #f05589;}
.top15{color:white;
    background-color:  #ef3981;}
